@model Web.Application.ViewModels.Admin.Page.PageParentModel

@{
    
    ViewData["Title"] = "Detail";

}

<div class="container-fluid">
    @foreach (var article in Model.ArticleToModel)
    {
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="header" style="background-image: linear-gradient(45deg, red, yellow);">
                        <a asp-controller="Home" asp-action="page" asp-route-name="Consultation" class="atricle btn btn-danger consultation-btn"> Book Consultation</a>
                            <h1>Article of @article.Category</h1>
                            <p class="lead">@article.Title</p>
                        </div>
            </div>
        </div>
        <div class="container-fluid p-3">
            <div class="container mt-5">
                        <div class="article-item">
                            <div class="float-end">
                                <ol class="breadcrumb">
                            <li class="breadcrumb-item list-unstyled "><a class="text-decoration-none" style="color:darkred" asp-controller="Home" asp-action="index">Home</a></li>
                            <li class="breadcrumb-item active"><a class="text-decoration-none" style="color:darkred" href="javascript:void(0)">Article</a></li>
                                </ol>
                            </div>
                            <div>
                                <img src="~/@article.ImageUrl" alt="Aries Horoscope" class="float-start me-3 mb-3" style="max-width: 200px;">
                                <h3>What is @article.Category</h3>
                                <p class="text-content">
                                    @article.Content
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
       
        
    }
    </div>
   
