@{
    Layout = null;
    ViewData["Title"] = "Detail";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header" style="background-image: linear-gradient(45deg, red, yellow);">
        <a href="Consulation.html" class="atricle btn btn-danger">Consultation</a>
        <h1>Article of Horoscope</h1>
        <p class="lead">Discover the career path that suits you best with our expert guidance.</p>
    </div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="article-item">
                <img src="~/Image/astrology-horoscope-magic-book-illustration-600nw-721102681.webp" alt="Aries Horoscope" class="float-start me-3 mb-3" style="max-width: 200px;">
                <h3>Aries Horoscope</h3>
                <p>
                    You will be enjoying leisure activities this week, Aries, as Mercury moves into Leo. You might be reading for pleasure, doing creative writing or brainstorming, or allowing your mind to simply rest. You may also be texting friends to meet up or scheduling fun events. With the new moon in Cancer, you may be seeing your family or calling them frequently. You might be planning to move or redecorate too, or you could feel urged to get organised at home. On another note, you may be working through emotions and memories from childhood that are coming up.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="article-item">
                <img src="~/Image//astrology-horoscope-magic-book-illustration-600nw-721102681.webp" alt="Taurus Horoscope" class="float-start me-3 mb-3" style="max-width: 200px;">
                <h3>Taurus Horoscope</h3>
                <p>
                    You will be having important conversations about your home and family life this week, Taurus, as Mercury moves into Leo. You could be reflecting on where you want to move or adjustments you would like to make to your living space. You may be in frequent contact with family members too, or you might be reflecting on events from childhood. With the new moon in Cancer, you may be travelling, exploring different areas of your city, or meeting up with friends. In addition, you could be developing a communication based project, like a newsletter, podcast, or work presentation.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="article-item">
                <img src="~/Image/zodiac-sign-wheel-of-fortune-astrology-concept-power-of-the-moon-and-the-universe-free-photo.jpg" alt="Gemini Horoscope" class="float-start me-3 mb-3" style="max-width: 200px;">
                <h3>Gemini Horoscope</h3>
                <p>
                    You will be following where your curiosity takes you this week, Gemini, as Mercury moves into Leo. You might be inspired to read, write, or take a short class on a topic of interest. You could also be organising travel plans, or you may be reaching out to friends. With the new moon in Cancer, you could be developing new business projects, or you may be up for a promotion or raise. If you’re self employed, you may want to raise your rates. On another note, you could be spending more money as you shop and splurge on yourself.
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="background-image: linear-gradient(180deg, #e11e1e 0%, #711604 100%); color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6 text-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">Advertise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="mt-3 text-center">
                <p>&copy; 2024 YourWebsiteName. All rights reserved.</p>
            </div>
        </div>
    </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
