@using Web.Application.ViewModels.Admin.PageContent
@model PageContentEditToViewModel;

@{
    ViewBag.Title = "Edit Page Content";
}

    <div class="row page-titles  mx-5 mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Page" asp-action="List" style="color:darkRed">Page </a></li>
            <li class="breadcrumb-item"><a asp-controller="PageContent" asp-action="List" style="color:darkRed" class="text-decoration-none" style="color:darkred">PageContent </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0 class=" text-decoration-none" style="color:darkred" )">Edit</a></li>
            </ol>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
                <div class="card my-5">
                    <div class="card-body">
                    <h4 class="card-title text-center" style="color:darkRed">Edit PageContent</h4>
                        <div class="basic-form">
                            <form method="post" asp-controller="PageContent" asp-action="Edit" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group mb-3">
                                    <label class="form-label required fw-bold">Tag</label>
                                        <input type="text" class="form-control" asp-for="Tag" placeholder="Enter Your Title" />
                                        <span asp-validation-for="Tag" style="color:red"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                    <label class="form-label required fw-bold">Content</label>
                                    <textarea id="tiny" type="text" class="form-control" asp-for="Content" placeholder="Enter Your Content" ></textarea>
                                        <span asp-validation-for="Content" style="color:red"></span>
                                    </div>
                                </div>
                            <div class="float-end mt-3">
                                <a type="submit" asp-area="Admin" asp-controller="PageContent" asp-action="List" class="btn btn-dark me-3 " style="background-color:black">cancel</a>
                                <button type="submit" class="btn btn-dark " style="background-color:darkRed">Save</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






