<footer  style="background-image: linear-gradient(180deg, #e11e1e 0%, #711604 100%); color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
       
                    <ul class="d-flex justify-content-center align-items-center gap-5 list-unstyled text-decoration-none">
                        <li>
                            <a class="text-white" asp-controller="Article" asp-action="List">Articles</a>
                        </li>
                        <li>
                            <a class=" text-white" asp-controller="Page" asp-action="List">Pages</a>
                        </li>
                        <li>
                            <a class=" text-white" asp-controller="Service" asp-action="List">Services</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p>&copy; 2024 Admin Portal. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>