<nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(90deg, red, yellow);">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Astro Pro</a>

        <!-- Menu burger icon for mobile and tablet -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                </li>
                <a class="nav-link text-white" asp-controller="Article" asp-action="List" asp-area="Admin">Articles</a>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="Page" asp-action="List">Pages</a>
                </li>
                <a class="nav-link text-white" asp-area="Admin" asp-controller="Service" asp-action="List">Services</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0">
                @if (User!.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a type="button" class="text-center text-decoration-none" asp-area="Admin" asp-controller="Account" asp-action="Logout" style="color:darkred">Log Out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a type="button" class="text-center text-decoration-none" asp-area="Admin" asp-controller="Account" asp-action="SignIn" style="color:darkred">Log In</a>

                    </li>
                }
            </ul>
        </div>
    </div>
</nav>