@using Web.Application.ViewModels.Admin.Account
@model LogInToCreateViewModel;


@{
    Layout = null;
    ViewData["Title"] = "SignIn";
}
@* <h1>Sign In</h1>

<div class="login-form">
    <h2>Login</h2>
    <form method="post" asp-area="Admin" asp-controller="Account" asp-action="SignIn">
        <label>Username</label>
        <input type="text" asp-for="Username" >
        <label >Password</label>
        <input type="password"  asp-for="Password">
        <button type="submit">Login</button>
    </form>
</div> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astro Pro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~lib/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="Style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 ">

                            <h3 class="mb-5 text-center">Sign in</h3>
                           <form method="post" asp-area="Admin" asp-controller="Account" asp-action="SignIn">
                            <div class="form-outline mb-4">
                                    <label class="form-label" for="typeEmailX">Username</label>
                                    <input type="Username" id="typeEmailX" class="form-control form-control-lg" asp-for="Username" />
                                    <span asp-validation-for="Username" style="color:red"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="typePasswordX">Password</label>
                                    <input type="password" id="typePasswordX" class="form-control form-control-lg" asp-for="Password" />
                                    <span asp-validation-for="Password" style="color:red"></span>
                            </div>
                            <button class="btn btn-primary col-lg-12 text-center" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
