@{
    ViewData["Title"] = " Home";
}
    <div class="mt-5 d-flex justify-content-center align-items-center" style="height:70vh">
  
        <h1 class="text-center fs-1 mt-100">Welcome To DashBoard</h1>
      
    </div>


