@{
    ViewData["Title"] = " Home";
}
    <div class="mt-5 d-flex justify-content-center align-items-center" style="height:70vh"  >

    <h1 class=" fs-1  fw-bold" style="color:darkRed">Welcome To DashBoard</h1>
      
    </div>


