@using Web.Application.ViewModels.Admin.Service

@model ServiceToCreateViewModel;

@{
    ViewBag.Title = "Create Service";
}

    <div class="row page-titles  mx-5 mt-2">
        <div class="col p-md-0">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Page" asp-action="List" class="text-decoration-none" style="color:darkred">Service </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)" class="text-decoration-none" style="color:darkred">Create</a></li>
            </ol>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
                <div class="card my-5">
                    <div class="card-body">
                    <h4 class="card-title text-center style=" color:darkRed">Add Service</h4>
                        <div class="basic-form">
                            <form method="post" asp-controller="Service" asp-action="Create">
                                <div class="form-row">
                                    <div class="form-group mb-3">
                                        <label class="form-label  fw-bold">Title</label>
                                        <input type="text" class="form-control " asp-for="Title" placeholder="Enter Your Name" />
                                        <span asp-validation-for="Title" style="color:red"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label  fw-bold" asp-for="Content">Content</label>
                                        <textarea asp-for="Content" class="form-control" placeholder="Enter Your Tag Here"></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label class="form-label  fw-bold" asp-for="Icon">Icon Url</label>
                                        <textarea asp-for="Icon" class="form-control" placeholder="Enter Your IconUrl"></textarea>
                                        <span asp-validation-for="Icon" class="text-danger"></span>
                                    </div>

                                <button type="submit" class="btn btn-dark mt-2" style="background-color:darkRed">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






